<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>



       <!-- Annuaire téléphonique -->
        <record id="is_res_users_partner_menu" model="ir.ui.menu">
            <field name="name">Annuaire téléphonique</field>
            <field name="sequence">0</field>
            <field name="parent_id"/>
            <field name="action" ref="is_res_users_partner_action"/>
        </record>


        <!-- Gestion commcerciale -->
        <record id="is_gestion_commerciale_menu" model="ir.ui.menu" >
            <field name="name">Gestion commerciale</field>
            <field name="sequence">4</field>
            <field name="groups_id" eval="[(6,0,[
                ref('is_plastigray16.is_employes_hors_production_group'),
            ])]"/>
        </record>

        <!-- Gestion commcerciale / Dossiers -->
        <menuitem 
            name="Dossiers" id="is_dossiers_commerciaux_menu" sequence="5"
            parent="is_gestion_commerciale_menu"
        />
        <menuitem 
            name="Dossier appels d'offres"  id="is_dossier_appel_offre_menu" sequence="10"
            parent="is_dossiers_commerciaux_menu" action="is_dossier_appel_offre_action"
        />
        <menuitem
            name="Dossier modification" id="is_dossier_modification_menu" sequence="20" 
            parent="is_dossiers_commerciaux_menu" action="is_dossier_modification_action"
        />
        <menuitem
            name="Dossier variante" id="is_dossier_variante_menu" sequence="30" 
            parent="is_dossiers_commerciaux_menu" action="is_dossier_variante_action"
        />
        <record id="is_erd_menu" model="ir.ui.menu" >
            <field name="name">ERD</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_dossiers_commerciaux_menu')"/>
            <field name="action"    ref="is_erd_action"/>
        </record>

        <!-- Gestion commcerciale / Revues -->
        <menuitem 
            name="Revues" id="is_revues_commerciales_menu" sequence="20"
            parent="is_gestion_commerciale_menu"
        />
        <record id="is_revue_de_contrat_menu" model="ir.ui.menu" >
            <field name="name">Revue de contrat</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_revues_commerciales_menu')"/>
            <field name="action"    ref="action_is_revue_de_contrat"/>
        </record>
        <record id="is_revue_de_contrat_version_menu" model="ir.ui.menu" >
            <field name="name">Revue de contrat - Versions</field>
            <field name="sequence">45</field>
            <field name="parent_id" eval="ref('is_revues_commerciales_menu')"/>
            <field name="action"    ref="is_revue_de_contrat_version_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('base.group_system'),
            ])]"/>
        </record>
        <record id="is_revue_lancement_menu" model="ir.ui.menu" >
            <field name="name">Revue de lancement</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_revues_commerciales_menu')"/>
            <field name="action"    ref="is_revue_lancement_action"/>
        </record>

        <!-- Gestion commcerciale / Fiches -->
        <menuitem 
            name="Fiches" id="is_fiches_commerciales_menu" sequence="30"
            parent="is_gestion_commerciale_menu"
        />
        <record id="is_fiche_codification" model="ir.ui.menu" >
            <field name="name">Fiche de codification</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_fiches_commerciales_menu')"/>
            <field name="action"    ref="is_fiche_codification_action"/>
        </record>
        <record id="is_modif_donnee_technique" model="ir.ui.menu" >
            <field name="name">Demande modification données techniques</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_fiches_commerciales_menu')"/>
            <field name="action"    ref="is_modif_donnee_technique_action"/>
        </record>

        <!-- Gestion commcerciale / Clients -->
        <record id="is_fiche_information_prospect" model="ir.ui.menu" >
            <field name="name">Prospects</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_gestion_commerciale_menu')"/>
            <field name="action"    ref="is_fiche_information_prospect_action"/>
        </record>
        <menuitem 
            name="Clients"  id="is_client_menu" sequence="50"
            parent="is_gestion_commerciale_menu" action="is_plastigray16.res_partner_client_action"
        />

        <!-- Gestion commcerciale / Facturation -->
        <menuitem 
            name="Facturation" id="is_gestion_commerciale_facturation_menu" sequence="70"
            parent="is_gestion_commerciale_menu"
        />
        <record id="is_facture_outillage_menu" model="ir.ui.menu" >
            <field name="name">Facture outillage</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_gestion_commerciale_facturation_menu')"/>
            <field name="action"    ref="is_facture_outillage_action"/>
            <field name="groups_id" eval="[(6,0,[
            ])]"/>
        </record>





        <!-- Gestion des projets -->
        <record id="gestion_des_projets_menu" model="ir.ui.menu" >
            <field name="name">Gestion des projets</field>
            <field name="sequence">5</field>
            <field name="groups_id" eval="[(6,0,[
                ref('is_plastigray16.is_employes_hors_production_group'),
            ])]"/>
        </record>



        <!-- Doc -->
        <menuitem 
            id="is_doc_moule_main_menu" sequence="10" name="Doc" 
            parent="gestion_des_projets_menu"
        />
         <menuitem 
            id="is_doc_moule_moule_menu" sequence="10" name="Documents Moules" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_moule_action"
        />
        <menuitem 
            id="is_doc_moule_dossierf_menu" sequence="20" name="Documents Dossier F" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_dossierf_action"
        />
         <menuitem 
            id="is_doc_moule_dao_menu" sequence="40" name="Documents Dossier appels d'offres" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_dao_action"
        />
        <menuitem 
            id="is_doc_moule_dmv_menu" sequence="50" name="Documents Dossier modif/variante" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_dmv_action"
        />
        <menuitem 
            id="is_doc_moule_menu" sequence="60" name="Tous les documents" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_action"
        />
        <record id="is_gantt_pdf_menu" model="ir.ui.menu" >
            <field name="name">Gantt PDF/Excel</field>
            <field name="sequence">70</field>
            <field name="parent_id" eval="ref('is_doc_moule_main_menu')"/>
            <field name="action"    ref="is_gantt_pdf_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('base.group_system'),
            ])]"/>
        </record>
        <record id="is_gantt_copie_menu" model="ir.ui.menu" >
            <field name="name">Copie du Gantt d'un Dossier</field>
            <field name="sequence">80</field>
            <field name="parent_id" eval="ref('is_doc_moule_main_menu')"/>
            <field name="action"    ref="is_gantt_copie_action"/>
        </record>
        <record model="ir.actions.client" id="suivi_projet_actions_client">
            <field name="name">Suivi des projets</field>
            <field name="tag">is_dynacase2odoo.suivi_projet_registry</field>
        </record>
        <record id="suivi_projet_menu" model="ir.ui.menu" >
            <field name="name">Suivi des projets</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('gestion_des_projets_menu')"/>
            <field name="action"    ref="suivi_projet_actions_client"/>
         </record>





        <!-- Gestion de projets / BDT -->
        <record id="is_bdt_menu" model="ir.ui.menu" >
            <field name="name">BDT</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('gestion_des_projets_menu')"/>
        </record>
        <record id="is_dossier_article_bdt_menu" model="ir.ui.menu" >
            <field name="name">Dossier article</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_bdt_menu')"/>
            <field name="action"    ref="is_dossier_article_action"/>
        </record>
        <record id="is_dossier_matiere_bdt_menu" model="ir.ui.menu" >
            <field name="name">Dossier matière</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_bdt_menu')"/>
            <field name="action"    ref="is_dossier_article_matiere_action"/>
        </record>
        <record id="is_dossier_colorant_bdt_menu" model="ir.ui.menu" >
            <field name="name">Dossier colorant</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_bdt_menu')"/>
            <field name="action"    ref="is_dossier_article_colorant_action"/>
        </record>
        <record id="is_dossier_composant_bdt_menu" model="ir.ui.menu" >
            <field name="name">Dossier composant</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_bdt_menu')"/>
            <field name="action"    ref="is_dossier_article_composant_action"/>
        </record>
        <record id="is_doc_moule_article_menu" model="ir.ui.menu" >
            <field name="name">Documents Articles</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_bdt_menu')"/>
            <field name="action"    ref="is_doc_moule_article_action"/>
        </record>









        <!-- Gestion de projets / Projets et moules -->
        <record id="is_projet_moule_menu" model="ir.ui.menu" >
            <field name="name">Projets et moules</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('gestion_des_projets_menu')"/>
        </record>
        <record id="is_revue_de_contrat_menu2" model="ir.ui.menu" >
            <field name="name">Revue de contrat</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="action_is_revue_de_contrat"/>
        </record>
        <record id="is_revue_de_contrat_version_menu2" model="ir.ui.menu" >
            <field name="name">Revue de contrat - Versions</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_revue_de_contrat_version_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('base.group_system'),
            ])]"/>
        </record>
        <record id="is_revue_lancement_menu2" model="ir.ui.menu" >
            <field name="name">Revue de lancement</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_revue_lancement_action"/>
        </record>
        <record id="is_revue_risque_menu" model="ir.ui.menu" >
            <field name="name">Revue des risques projet</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_revue_risque_action"/>
        </record>
        <record id="is_revue_projet_jalon_menu" model="ir.ui.menu" >
            <field name="name">CR revue projet jalon</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_revue_projet_jalon_action"/>
        </record>
        <record id="is_demande_essai_menu" model="ir.ui.menu" >
            <field name="name">Demande d'essai</field>
            <field name="sequence">55</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_demande_essai_action"/>
        </record>
        <record id="is_modif_donnee_technique_projet_menu" model="ir.ui.menu" >
            <field name="name">Demande modification données techniques</field>
            <field name="sequence">60</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_modif_donnee_technique_action"/>
        </record>

        <record id="is_prise_avance_menu" model="ir.ui.menu" >
            <field name="name">Prise d'avance</field>
            <field name="sequence">70</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_prise_avance_action"/>
        </record>



        <record id="is_projet_menu" model="ir.ui.menu" >
            <field name="name">Projets</field>
            <field name="sequence">80</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_plastigray16.is_mold_project_action"/>
        </record>
        <record id="is_mold_menu" model="ir.ui.menu" >
            <field name="name">Moules</field>
            <field name="sequence">90</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_plastigray16.is_mold_action"/>
        </record>
        <record id="is_dossierf_menu" model="ir.ui.menu" >
            <field name="name">Dossier F</field>
            <field name="sequence">100</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_plastigray16.is_dossierf_action"/>
        </record>
        <record id="is_dossier_modification_projet_menu" model="ir.ui.menu" >
            <field name="name">Dossier modification</field>
            <field name="sequence">110</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_dossier_modification_action"/>
        </record>
        <record id="is_dossier_variante_projet_menu" model="ir.ui.menu" >
            <field name="name">Dossier variante</field>
            <field name="sequence">120</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_dossier_variante_action"/>
        </record>
        <record id="is_inv_achat_moule_menu" model="ir.ui.menu" >
            <field name="name">Investissement achat moule</field>
            <field name="sequence">130</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_inv_achat_moule_action"/>
        </record>
        <record id="is_inv_achat_moule_po_menu" model="ir.ui.menu" >
            <field name="name">Investissement achat moule - Commandes fournisseur</field>
            <field name="sequence">140</field>
            <field name="parent_id" eval="ref('is_projet_moule_menu')"/>
            <field name="action"    ref="is_inv_achat_moule_po_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('base.group_system'),
            ])]"/>
        </record>


        <!-- Gestion de projets / Paramétrage -->
        <record id="is_parametrage_menu" model="ir.ui.menu" >
            <field name="name">Paramétrage</field>
            <field name="sequence">900</field>
            <field name="parent_id" eval="ref('gestion_des_projets_menu')"/>
        </record>
        <menuitem 
            id="is_param_project_menu" sequence="10" name="Paramétrage projet (Familles)" 
            parent="is_parametrage_menu" action="action_is_param_project"
        />
        <record id="is_modele_bilan_menu" model="ir.ui.menu" >
            <field name="name">Modèle bilan</field>
            <field name="sequence">15</field>
            <field name="parent_id" eval="ref('is_parametrage_menu')"/>
            <field name="action"    ref="is_modele_bilan_action"/>
        </record>
        <record id="is_section_gantt_menu" model="ir.ui.menu" >
            <field name="name">Section du Gantt</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_parametrage_menu')"/>
            <field name="action"    ref="is_section_gantt_action"/>
        </record>
        <record id="is_fermeture_gantt_menu" model="ir.ui.menu" >
            <field name="name">Fermeture planning Gantt</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_parametrage_menu')"/>
            <field name="action"    ref="is_fermeture_gantt_action"/>
        </record>
        <record id="is_head_model_form_menu" model="ir.ui.menu" >
            <field name="name">Entête des modèles</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_parametrage_menu')"/>
            <field name="action"    ref="is_plastigray16.action_is_head_model_form"/>
        </record>
        <record id="is_liste_diffusion_mail_menu" model="ir.ui.menu" >
            <field name="name">Liste de diffusion des mails</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_parametrage_menu')"/>
            <field name="action"    ref="is_liste_diffusion_mail_action"/>
        </record>
        <record id="is_gantt_pdf_excel_menu" model="ir.ui.menu" >
            <field name="name">Modèle Excel pour Gantt</field>
            <field name="sequence">60</field>
            <field name="parent_id" eval="ref('is_parametrage_menu')"/>
            <field name="action"    ref="is_gantt_pdf_excel_action"/>
        </record>



        
        <!-- Gestion des achats -->
        <record id="gestion_des_achats_menu" model="ir.ui.menu" >
            <field name="name">Gestion des achats</field>
            <field name="sequence">5</field>
            <field name="groups_id" eval="[(6,0,[
                ref('is_plastigray16.is_employes_hors_production_group'),
            ])]"/>
        </record>
        <record id="is_demande_modif_compte_fournisseur_menu" model="ir.ui.menu" >
           <field name="name">Demande de création ou de modification d'un compte Fournisseur</field>
           <field name="sequence">20</field>
           <field name="parent_id" eval="ref('gestion_des_achats_menu')"/>
           <field name="action"    ref="is_demande_modif_compte_fournisseur_action"/>
        </record>
        <record id="is_demande_modif_tarif_fournisseur_menu" model="ir.ui.menu" >
            <field name="name">Demande de création ou de modification d'un tarif Fournisseur</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('gestion_des_achats_menu')"/>
            <field name="action"    ref="is_demande_modif_tarif_fournisseur_action"/>
        </record>

        <!-- Indicateurs -->
        <record id="is_indicateur_bei_menu" model="ir.ui.menu" >
            <field name="name">Indicateurs</field>
            <field name="sequence">60</field>
            <field name="parent_id" eval="ref('gestion_des_projets_menu')"/>
        </record>
        <record id="is_indicateur_revue_jalon_menu" model="ir.ui.menu" >
            <field name="name">Indicateur Revue Jalon</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_indicateur_bei_menu')"/>
            <field name="action"    ref="is_indicateur_revue_jalon_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('is_plastigray16.is_chef_projet_group'),
            ])]"/>
        </record>
        


        <!-- Données technique / Dossier article -->
        <record id="is_dossier_article_menu" model="ir.ui.menu" >
            <field name="name">Dossier article</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_plastigray16.is_dossier_article_main_menu')"/>
            <field name="action"    ref="is_dossier_article_action"/>
        </record>

        <record id="is_dossier_article_actualiser_menu" model="ir.ui.menu" >
            <field name="name">Actualiser Dossier article</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_plastigray16.is_dossier_article_main_menu')"/>
            <field name="action"    ref="is_dossier_article_actions_server"/>
            <field name="groups_id" eval="[(6,0,[
                ref('is_plastigray16.is_gestionnaire_dossier_article_grp'),
            ])]"/>
        </record>

        <!-- Gestion de la qualité -->
        <record id="gestion_qualite_menu" model="ir.ui.menu" >
            <field name="name">Gestion de la qualité</field>
            <field name="sequence">6</field>
            <field name="groups_id" eval="[(6,0,[
                ref('is_plastigray16.is_employes_hors_production_group'),
            ])]"/>
        </record>
        <menuitem id="menu_is_norme_cdc"
              name="Normes CDC"
              action="action_is_norme_cdc"
              parent="gestion_qualite_menu"
              sequence="10"
        />

        <!-- Gestion de la qualité / Plan d'acttion et PAC -->
        <menuitem 
            name="Plan d'action et PAC" id="is_plan_action_menu" sequence="20"
            parent="gestion_qualite_menu"
        />
        <menuitem 
            name="Plan d'action"  id="is_pa_plan_action_menu" sequence="10"
            parent="is_plan_action_menu" action="is_plan_action_action"
        />
        <menuitem 
            name="Action"  id="is_pa_action_menu" sequence="20"
            parent="is_plan_action_menu" action="is_action_action"
        />
        <menuitem 
            name="Revue et plan d'amélioration continu"  id="is_plan_amelioration_continu_menu" sequence="30"
            parent="is_plan_action_menu" action="is_plan_amelioration_continu_action"
        />
        <menuitem 
            name="Planification d'audit"  id="is_planification_audit_menu" sequence="30"
            parent="is_plan_action_menu" action="is_planification_audit_action"
        />



        <!-- Gestion de la qualité / Processus -->
        <record id="is_processus_main_menu" model="ir.ui.menu">
            <field name="name">Processus</field>
            <field name="sequence">25</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.gestion_qualite_menu')"/>
        </record>
        <record id="is_cartographie_processus_menu" model="ir.ui.menu">
            <field name="name">Cartographie des processus</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_processus_main_menu')"/>
            <field name="action" ref="is_cartographie_processus_action"/>
        </record>
        <record id="is_processus_menu" model="ir.ui.menu">
            <field name="name">Liste des processus</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_processus_main_menu')"/>
            <field name="action" ref="is_processus_action"/>
        </record>
        <record id="is_processus_etape_menu" model="ir.ui.menu">
            <field name="name">Étapes des processus</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_processus_main_menu')"/>
            <field name="action" ref="is_processus_etape_action"/>
        </record>
        <record id="is_processus_doc_menu" model="ir.ui.menu">
            <field name="name">Documents des processus</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_processus_main_menu')"/>
            <field name="action" ref="is_processus_doc_action"/>
        </record>

        
        <!-- Gestion de la qualité / FNC -->
        <menuitem 
            name="FNC"  id="is_fnc_menu" sequence="40"
            parent="gestion_qualite_menu" action="is_fnc_action"
        />


        <!-- Gestion de la qualité / Réclamations fournisseurs -->

        <record id="is_reclamation_fournisseur_main_menu" model="ir.ui.menu" >
            <field name="name">Réclamations fournisseurs</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('gestion_qualite_menu')"/>
        </record>
        <record id="is_reclamation_fournisseur_menu" model="ir.ui.menu" >
            <field name="name">Réclamations fournisseurs</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_reclamation_fournisseur_main_menu')"/>
            <field name="action"    ref="is_reclamation_fournisseur_action"/>
        </record>
        <menuitem 
            name="Réceptions"  id="is_reception_menu" sequence="20"
            parent="is_reclamation_fournisseur_main_menu" action="is_reception_action"
        />

        <record id="is_actualiser_receptions_menu" model="ir.ui.menu" >
            <field name="name">Actualiser les réceptions</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_reclamation_fournisseur_main_menu')"/>
            <field name="action"    ref="is_actualiser_receptions_actions_server"/>
            <field name="groups_id" eval="[(6,0,[
                ref('base.group_system'),
            ])]"/>
        </record>


        <!-- Gestion de la qualité / Contrôle réception -->
        <record id="is_ctrl_rcp_menu" model="ir.ui.menu">
            <field name="name">Contrôle Réception</field>
            <field name="sequence">70</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.gestion_qualite_menu')"/>
        </record>
        <record id="is_ctrl_rcp_gamme_menu" model="ir.ui.menu">
            <field name="name">Gamme de controle réception</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_ctrl_rcp_menu')"/>
            <field name="action" ref="is_ctrl_rcp_gamme_action"/>
        </record>
        <record id="is_ctrl_rcp_rapport_menu" model="ir.ui.menu">
            <field name="name">Rapports RCP</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_ctrl_rcp_menu')"/>
            <field name="action" ref="is_ctrl_rcp_rapport_action"/>
        </record>

        <record id="is_ctrl_rcp_saisie_menu" model="ir.ui.menu">
            <field name="name">Saisies RCP</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_ctrl_rcp_menu')"/>
            <field name="action" ref="is_ctrl_rcp_saisie_action"/>
        </record>

        <!-- Gestion de la qualité / Relevé dimensionnel -->
        <record id="is_releve_dimensionnel_menu" model="ir.ui.menu">
            <field name="name">Relevés dimensionnels</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_ctrl_rcp_menu')"/>
            <field name="action" ref="is_releve_dimensionnel_action"/>
        </record>
        <record id="is_releve_dimensionnel_saisie_menu" model="ir.ui.menu">
            <field name="name">Saisies des relevés dimensionnels</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_ctrl_rcp_menu')"/>
            <field name="action" ref="is_releve_dimensionnel_saisie_action"/>
        </record>

        <!-- Prodstar -->
        <record id="is_prodstar_menu" model="ir.ui.menu">
            <field name="name">Prodstar</field>
            <field name="sequence">84</field>
            <field name="parent_id" eval="ref('is_plastigray16.menu_is_donnees_techniques')"/>
        </record>
        <record id="is_prodstar_fp2art_menu" model="ir.ui.menu">
            <field name="name">Articles</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2art_action"/>
        </record>
        <record id="is_prodstar_fp2nomq_menu" model="ir.ui.menu">
            <field name="name">Nomenclatures</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2nomq_action"/>
        </record>
        <record id="is_prodstar_fp2game_menu" model="ir.ui.menu">
            <field name="name">Gammes-Entêtes</field>
            <field name="sequence">30</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2game_action"/>
        </record>
        <record id="is_prodstar_fp2gamo_menu" model="ir.ui.menu">
            <field name="name">Gammes-Opérations</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2gamo_action"/>
        </record>
        <record id="is_prodstar_fp2gams_menu" model="ir.ui.menu">
            <field name="name">Gammes-Sous-traitance</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2gams_action"/>
        </record>
        <record id="is_prodstar_fp2gamu_menu" model="ir.ui.menu">
            <field name="name">Gammes-Moules</field>
            <field name="sequence">60</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2gamu_action"/>
        </record>
        <record id="is_prodstar_fp2sec_menu" model="ir.ui.menu">
            <field name="name">Sections</field>
            <field name="sequence">70</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fp2sec_action"/>
        </record>
        <record id="is_prodstar_fa2rcp_menu" model="ir.ui.menu">
            <field name="name">Réceptions</field>
            <field name="sequence">80</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fa2rcp_action"/>
        </record>
        <record id="is_prodstar_fc2lie_menu" model="ir.ui.menu">
            <field name="name">Livraions-Entêtes</field>
            <field name="sequence">90</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fc2lie_action"/>
        </record>
        <record id="is_prodstar_fc2lid_menu" model="ir.ui.menu">
            <field name="name">Livraions-Lignes</field>
            <field name="sequence">100</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.is_prodstar_menu')"/>
            <field name="action" ref="is_prodstar_fc2lid_action"/>
        </record>

    </data>
</odoo>
