<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="gestion_des_projets_menu"  sequence="5"  name="Gestion des projets"/>
        <!-- <menuitem 
            id="is_doc_moule_menu" sequence="1" name="Doc" 
            parent="gestion_des_projets_menu" action="is_doc_moule_action"
        /> -->


        <!-- Doc -->
        <menuitem 
            id="is_doc_moule_main_menu" sequence="10" name="Doc" 
            parent="gestion_des_projets_menu"
        />
        <menuitem 
            id="is_dhtmlxgantt_project_menu" sequence="900" name="Gantt des projets" 
            parent="base.menu_custom" action="is_dhtmlxgantt_project_action"
        />
        <menuitem 
            id="is_doc_moule_moule_menu" sequence="10" name="Documents Moules" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_moule_action"
        />
        <menuitem 
            id="is_doc_moule_article_menu" sequence="20" name="Documents Articles" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_article_action"
        />
        <menuitem 
            id="is_doc_moule_menu" sequence="30" name="Tous les documents" 
            parent="is_doc_moule_main_menu" action="is_doc_moule_action"
        />

        <!-- Autre -->
        <menuitem 
            id="is_mold_project_menu" sequence="20" name="Projet" 
            parent="gestion_des_projets_menu" action="is_plastigray16.is_mold_project_action"
        />
        <menuitem 
            id="is_dossierf_menu" sequence="30" name="Dossier F" 
            parent="gestion_des_projets_menu" action="is_plastigray16.is_dossierf_action"
        />
        <menuitem 
            id="is_mold_menu" sequence="40" name="Moule" 
            parent="gestion_des_projets_menu" action="is_plastigray16.is_mold_action"
        />
        <menuitem 
            id="is_mold_menu" sequence="50" name="Dossier article" 
            parent="gestion_des_projets_menu" action="is_plastigray16.is_dossier_article_action"
        />


        <!-- Paramétrage -->
        <record id="is_parametrage_menu" model="ir.ui.menu" >
            <field name="name">Paramétrage</field>
            <field name="sequence">900</field>
            <field name="parent_id" eval="ref('gestion_des_projets_menu')"/>
        </record>
        <menuitem 
            id="is_param_project_menu" sequence="1" name="Paramétrage projet" 
            parent="is_parametrage_menu" action="action_is_param_project"
        />

        <!-- Gestion commerciale -->
        <menuitem id="menu_main_gestion_commerciale"  sequence="4"  name="Gestion commerciale"/>

        <record id="menu_parent_is_revue_de_contrat" model="ir.ui.menu" >
            <field name="name">Revue de contrat</field>
            <field name="sequence">1</field>
            <field name="parent_id" eval="ref('is_dynacase2odoo.menu_main_gestion_commerciale')"/>
        </record>
        <menuitem id="menu_is_revue_de_contrat" sequence="1" name="Revue de contrat" parent="menu_parent_is_revue_de_contrat" action="action_is_revue_de_contrat" />

        <!-- Revue de lancement -->
        <menuitem
            id="is_revue_lancement_main_menu" sequence="11" name="Revue de lancement"
            parent="gestion_des_projets_menu"
        />
        <menuitem
            id="is_revue_lancement_menu" sequence="10" name="Revue de lancement"
            parent="is_revue_lancement_main_menu" action="is_revue_lancement_action"
        />

    </data>
</odoo>