/*Ne pas modifier ce fichier, car il est généré automatiquement par l'action creer_css_action pour dhtmlxgantt_project*/

.dhtmlxgantt_project .is_param_projet_41{
    background:#1416a9;
}
.dhtmlxgantt_project .is_param_projet_41 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_42{
    background:#1d6488;
}
.dhtmlxgantt_project .is_param_projet_42 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_43{
    background:#b38191;
}
.dhtmlxgantt_project .is_param_projet_43 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_44{
    background:#576aa8;
}
.dhtmlxgantt_project .is_param_projet_44 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_51{
    background:#261316;
}
.dhtmlxgantt_project .is_param_projet_51 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_45{
    background:#91a8f6;
}
.dhtmlxgantt_project .is_param_projet_45 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_46{
    background:#ceeea5;
}
.dhtmlxgantt_project .is_param_projet_46 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_47{
    background:#3be749;
}
.dhtmlxgantt_project .is_param_projet_47 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_48{
    background:#13d384;
}
.dhtmlxgantt_project .is_param_projet_48 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_49{
    background:#5c9e1b;
}
.dhtmlxgantt_project .is_param_projet_49 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_52{
    background:#58b0cd;
}
.dhtmlxgantt_project .is_param_projet_52 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_50{
    background:#783894;
}
.dhtmlxgantt_project .is_param_projet_50 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_61{
    background:#cb09dc;
}
.dhtmlxgantt_project .is_param_projet_61 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_53{
    background:#2fa601;
}
.dhtmlxgantt_project .is_param_projet_53 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_54{
    background:#4b124e;
}
.dhtmlxgantt_project .is_param_projet_54 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_55{
    background:#a619ab;
}
.dhtmlxgantt_project .is_param_projet_55 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_62{
    background:#9aab67;
}
.dhtmlxgantt_project .is_param_projet_62 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_63{
    background:#d006aa;
}
.dhtmlxgantt_project .is_param_projet_63 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_64{
    background:#982f07;
}
.dhtmlxgantt_project .is_param_projet_64 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_65{
    background:#21f536;
}
.dhtmlxgantt_project .is_param_projet_65 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_66{
    background:#f7b0ce;
}
.dhtmlxgantt_project .is_param_projet_66 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_67{
    background:#62101c;
}
.dhtmlxgantt_project .is_param_projet_67 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_68{
    background:#bdc980;
}
.dhtmlxgantt_project .is_param_projet_68 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_69{
    background:#fbded5;
}
.dhtmlxgantt_project .is_param_projet_69 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_70{
    background:#ab16f1;
}
.dhtmlxgantt_project .is_param_projet_70 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_71{
    background:#ffdf4e;
}
.dhtmlxgantt_project .is_param_projet_71 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_72{
    background:#7c5239;
}
.dhtmlxgantt_project .is_param_projet_72 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_73{
    background:#162545;
}
.dhtmlxgantt_project .is_param_projet_73 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_74{
    background:#0deeca;
}
.dhtmlxgantt_project .is_param_projet_74 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_56{
    background:#2b37e8;
}
.dhtmlxgantt_project .is_param_projet_56 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_75{
    background:#84e2c1;
}
.dhtmlxgantt_project .is_param_projet_75 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_76{
    background:#28b5e9;
}
.dhtmlxgantt_project .is_param_projet_76 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_77{
    background:#0326f1;
}
.dhtmlxgantt_project .is_param_projet_77 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_78{
    background:#a2c33d;
}
.dhtmlxgantt_project .is_param_projet_78 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_79{
    background:#e3b7f9;
}
.dhtmlxgantt_project .is_param_projet_79 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_80{
    background:#e0b696;
}
.dhtmlxgantt_project .is_param_projet_80 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_81{
    background:#f45e57;
}
.dhtmlxgantt_project .is_param_projet_81 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_82{
    background:#3f3dc7;
}
.dhtmlxgantt_project .is_param_projet_82 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_57{
    background:#278088;
}
.dhtmlxgantt_project .is_param_projet_57 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_83{
    background:#6f29c1;
}
.dhtmlxgantt_project .is_param_projet_83 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_84{
    background:#fb2749;
}
.dhtmlxgantt_project .is_param_projet_84 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_85{
    background:#1651b8;
}
.dhtmlxgantt_project .is_param_projet_85 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_86{
    background:#cce9c2;
}
.dhtmlxgantt_project .is_param_projet_86 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_87{
    background:#1d6102;
}
.dhtmlxgantt_project .is_param_projet_87 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_88{
    background:#266178;
}
.dhtmlxgantt_project .is_param_projet_88 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_89{
    background:#f5a61e;
}
.dhtmlxgantt_project .is_param_projet_89 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_90{
    background:#863931;
}
.dhtmlxgantt_project .is_param_projet_90 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_91{
    background:#f24118;
}
.dhtmlxgantt_project .is_param_projet_91 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_92{
    background:#9cb49b;
}
.dhtmlxgantt_project .is_param_projet_92 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_93{
    background:#e772de;
}
.dhtmlxgantt_project .is_param_projet_93 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_94{
    background:#d9e775;
}
.dhtmlxgantt_project .is_param_projet_94 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_95{
    background:#38bfe8;
}
.dhtmlxgantt_project .is_param_projet_95 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_96{
    background:#b15a88;
}
.dhtmlxgantt_project .is_param_projet_96 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_97{
    background:#5b3f48;
}
.dhtmlxgantt_project .is_param_projet_97 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_98{
    background:#0077e8;
}
.dhtmlxgantt_project .is_param_projet_98 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_99{
    background:#aaa5c0;
}
.dhtmlxgantt_project .is_param_projet_99 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_100{
    background:#9220a0;
}
.dhtmlxgantt_project .is_param_projet_100 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_101{
    background:#53bdff;
}
.dhtmlxgantt_project .is_param_projet_101 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_102{
    background:#2592ce;
}
.dhtmlxgantt_project .is_param_projet_102 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_103{
    background:#8d7456;
}
.dhtmlxgantt_project .is_param_projet_103 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_104{
    background:#75b6a9;
}
.dhtmlxgantt_project .is_param_projet_104 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_58{
    background:#a46276;
}
.dhtmlxgantt_project .is_param_projet_58 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_105{
    background:#549cdb;
}
.dhtmlxgantt_project .is_param_projet_105 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_59{
    background:#35de2e;
}
.dhtmlxgantt_project .is_param_projet_59 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_106{
    background:#093484;
}
.dhtmlxgantt_project .is_param_projet_106 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_107{
    background:#0e1232;
}
.dhtmlxgantt_project .is_param_projet_107 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_108{
    background:#271a5d;
}
.dhtmlxgantt_project .is_param_projet_108 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_109{
    background:#bb77ee;
}
.dhtmlxgantt_project .is_param_projet_109 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_110{
    background:#6e26cc;
}
.dhtmlxgantt_project .is_param_projet_110 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_111{
    background:#6c9710;
}
.dhtmlxgantt_project .is_param_projet_111 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_60{
    background:#f1a876;
}
.dhtmlxgantt_project .is_param_projet_60 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_112{
    background:#d3a3cc;
}
.dhtmlxgantt_project .is_param_projet_112 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_184{
    background:#055a9e;
}
.dhtmlxgantt_project .is_param_projet_184 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_113{
    background:#ad35b9;
}
.dhtmlxgantt_project .is_param_projet_113 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_185{
    background:#56e8fb;
}
.dhtmlxgantt_project .is_param_projet_185 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_114{
    background:#3815bc;
}
.dhtmlxgantt_project .is_param_projet_114 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_115{
    background:#f93f8d;
}
.dhtmlxgantt_project .is_param_projet_115 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_116{
    background:#4e4dd4;
}
.dhtmlxgantt_project .is_param_projet_116 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_117{
    background:#317e76;
}
.dhtmlxgantt_project .is_param_projet_117 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_118{
    background:#a48a5b;
}
.dhtmlxgantt_project .is_param_projet_118 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_119{
    background:#a7bd49;
}
.dhtmlxgantt_project .is_param_projet_119 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_120{
    background:#abd93c;
}
.dhtmlxgantt_project .is_param_projet_120 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_121{
    background:#37d0a9;
}
.dhtmlxgantt_project .is_param_projet_121 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_122{
    background:#bdacd7;
}
.dhtmlxgantt_project .is_param_projet_122 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_123{
    background:#15f4d5;
}
.dhtmlxgantt_project .is_param_projet_123 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_124{
    background:#5c0785;
}
.dhtmlxgantt_project .is_param_projet_124 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_125{
    background:#8c453e;
}
.dhtmlxgantt_project .is_param_projet_125 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_126{
    background:#c77344;
}
.dhtmlxgantt_project .is_param_projet_126 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_127{
    background:#494029;
}
.dhtmlxgantt_project .is_param_projet_127 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_128{
    background:#9dfb06;
}
.dhtmlxgantt_project .is_param_projet_128 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_129{
    background:#716b6f;
}
.dhtmlxgantt_project .is_param_projet_129 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_130{
    background:#b12552;
}
.dhtmlxgantt_project .is_param_projet_130 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_131{
    background:#f288ed;
}
.dhtmlxgantt_project .is_param_projet_131 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_132{
    background:#a32e47;
}
.dhtmlxgantt_project .is_param_projet_132 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_133{
    background:#3ed4ac;
}
.dhtmlxgantt_project .is_param_projet_133 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_134{
    background:#9cffd9;
}
.dhtmlxgantt_project .is_param_projet_134 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_135{
    background:#ef8824;
}
.dhtmlxgantt_project .is_param_projet_135 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_136{
    background:#452378;
}
.dhtmlxgantt_project .is_param_projet_136 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_137{
    background:#4e9d9a;
}
.dhtmlxgantt_project .is_param_projet_137 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_138{
    background:#229e5e;
}
.dhtmlxgantt_project .is_param_projet_138 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_139{
    background:#7015ac;
}
.dhtmlxgantt_project .is_param_projet_139 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_140{
    background:#9baf3f;
}
.dhtmlxgantt_project .is_param_projet_140 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_141{
    background:#dd9149;
}
.dhtmlxgantt_project .is_param_projet_141 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_142{
    background:#a6fc87;
}
.dhtmlxgantt_project .is_param_projet_142 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_143{
    background:#10f60a;
}
.dhtmlxgantt_project .is_param_projet_143 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_144{
    background:#a15ef6;
}
.dhtmlxgantt_project .is_param_projet_144 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_145{
    background:#b19ca4;
}
.dhtmlxgantt_project .is_param_projet_145 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_146{
    background:#518b6b;
}
.dhtmlxgantt_project .is_param_projet_146 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_147{
    background:#8d7792;
}
.dhtmlxgantt_project .is_param_projet_147 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_148{
    background:#7c312f;
}
.dhtmlxgantt_project .is_param_projet_148 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_149{
    background:#494c36;
}
.dhtmlxgantt_project .is_param_projet_149 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_150{
    background:#ee6247;
}
.dhtmlxgantt_project .is_param_projet_150 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_151{
    background:#881bed;
}
.dhtmlxgantt_project .is_param_projet_151 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_152{
    background:#2d2eec;
}
.dhtmlxgantt_project .is_param_projet_152 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_153{
    background:#810464;
}
.dhtmlxgantt_project .is_param_projet_153 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_154{
    background:#fd8ff2;
}
.dhtmlxgantt_project .is_param_projet_154 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_155{
    background:#b51b40;
}
.dhtmlxgantt_project .is_param_projet_155 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_156{
    background:#905c24;
}
.dhtmlxgantt_project .is_param_projet_156 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_157{
    background:#ad5756;
}
.dhtmlxgantt_project .is_param_projet_157 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_158{
    background:#00ae20;
}
.dhtmlxgantt_project .is_param_projet_158 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_159{
    background:#6d50db;
}
.dhtmlxgantt_project .is_param_projet_159 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_160{
    background:#fd7756;
}
.dhtmlxgantt_project .is_param_projet_160 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_161{
    background:#49d79d;
}
.dhtmlxgantt_project .is_param_projet_161 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_162{
    background:#156689;
}
.dhtmlxgantt_project .is_param_projet_162 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_163{
    background:#31a057;
}
.dhtmlxgantt_project .is_param_projet_163 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_164{
    background:#5306ff;
}
.dhtmlxgantt_project .is_param_projet_164 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_165{
    background:#df5312;
}
.dhtmlxgantt_project .is_param_projet_165 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_166{
    background:#84c112;
}
.dhtmlxgantt_project .is_param_projet_166 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_167{
    background:#bb3cb8;
}
.dhtmlxgantt_project .is_param_projet_167 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_168{
    background:#865b1f;
}
.dhtmlxgantt_project .is_param_projet_168 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_169{
    background:#79e440;
}
.dhtmlxgantt_project .is_param_projet_169 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_186{
    background:#34f270;
}
.dhtmlxgantt_project .is_param_projet_186 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_170{
    background:#af5f77;
}
.dhtmlxgantt_project .is_param_projet_170 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_171{
    background:#21d9e4;
}
.dhtmlxgantt_project .is_param_projet_171 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_172{
    background:#69e031;
}
.dhtmlxgantt_project .is_param_projet_172 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_173{
    background:#cfd319;
}
.dhtmlxgantt_project .is_param_projet_173 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_187{
    background:#357933;
}
.dhtmlxgantt_project .is_param_projet_187 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_174{
    background:#e8bc77;
}
.dhtmlxgantt_project .is_param_projet_174 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_175{
    background:#d298e5;
}
.dhtmlxgantt_project .is_param_projet_175 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_188{
    background:#704586;
}
.dhtmlxgantt_project .is_param_projet_188 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_176{
    background:#18b87c;
}
.dhtmlxgantt_project .is_param_projet_176 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_177{
    background:#5a2ae1;
}
.dhtmlxgantt_project .is_param_projet_177 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_178{
    background:#67b801;
}
.dhtmlxgantt_project .is_param_projet_178 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_179{
    background:#c6548d;
}
.dhtmlxgantt_project .is_param_projet_179 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_180{
    background:#7d2e2b;
}
.dhtmlxgantt_project .is_param_projet_180 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_181{
    background:#952468;
}
.dhtmlxgantt_project .is_param_projet_181 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_182{
    background:#44ae68;
}
.dhtmlxgantt_project .is_param_projet_182 .gantt_task_progress{
    opacity: 0.5;
}

.dhtmlxgantt_project .is_param_projet_183{
    background:#7e9899;
}
.dhtmlxgantt_project .is_param_projet_183 .gantt_task_progress{
    opacity: 0.5;
}

