

/* Ajout du 05/12/2025 pour essayer d'aligner les champs de l'onglet invesittsements de la revue de lancement */
/* .o_form_view .o_input {
    padding: 0px 0px;
}
.o_form_view .o_group .o_form_label {
    margin-bottom: 0px;
}
.o_form_view .o_cell:not(.o_field_cell) .o_form_uri > span:first-child {
    padding: 0 0 2px;
    margin-bottom: 0px;
}
.o_input {
    border-width: 0 0 1px 0;
}
.o_form_view .o_field_empty:empty {
    min-height: 1.2rem;
} */